<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.danni.model.dao.AdminsMapper">
	<resultMap id="BaseResultMap" type="com.danni.model.entity.Admins">
		<id column="aid" jdbcType="INTEGER" property="aid" />
		<result column="adminname" jdbcType="VARCHAR" property="adminname" />
		<result column="adminpwd" jdbcType="VARCHAR" property="adminpwd" />
	</resultMap>
	
	<sql id="Base_Column_List">
		aid, adminname, adminpwd
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from admins
		where aid = #{aid,jdbcType=INTEGER}
	</select>
	
	<select id="queryAll" resultMap="BaseResultMap">
		select * from admins
	</select>
	
	<select id="login" parameterType="com.danni.model.entity.Admins" resultType="com.danni.model.entity.Admins">
		select * from admins where adminname = #{adminname} and adminpwd = #{adminpwd}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from admins
		where aid = #{aid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.danni.model.entity.Admins">
		insert into admins (aid, adminname, adminpwd
		)
		values (#{aid,jdbcType=INTEGER}, #{adminname,jdbcType=VARCHAR},
		#{adminpwd,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.danni.model.entity.Admins">
		insert into admins
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="aid != null">
				aid,
			</if>
			<if test="adminname != null">
				adminname,
			</if>
			<if test="adminpwd != null">
				adminpwd,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="aid != null">
				#{aid,jdbcType=INTEGER},
			</if>
			<if test="adminname != null">
				#{adminname,jdbcType=VARCHAR},
			</if>
			<if test="adminpwd != null">
				#{adminpwd,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.danni.model.entity.Admins">
		update admins
		<set>
			<if test="adminname != null">
				adminname = #{adminname,jdbcType=VARCHAR},
			</if>
			<if test="adminpwd != null">
				adminpwd = #{adminpwd,jdbcType=VARCHAR},
			</if>
		</set>
		where aid = #{aid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.danni.model.entity.Admins">
		update admins
		set adminname = #{adminname,jdbcType=VARCHAR},
		adminpwd = #{adminpwd,jdbcType=VARCHAR}
		where aid = #{aid,jdbcType=INTEGER}
	</update>
</mapper>